html, #todo 
{
	background: linear-gradient(to bottom right ,white,#007BB1,white);
}

#map 
{

		display: block;
		height: 500px;
        margin: 50px;
        padding: 50px;
        border-color: rgb(0,0,0);
		border-width: 3px;
		border-style: solid;
}

h3 
{
		color: rgb(0,0,0);
		margin-left: 15px;
		margin-top: 3px;
		font-style: italic;
	    font-family: helvetica;
	    text-align: left;
}

#titulo
{
	color: rgb(0,0,0);
	font-size: 80px;
	text-align: center;
	letter-spacing: 8px; 
	vertical-align: text-top;
	font-family: StarJedi;
	


}

#form {
	border-radius: 30px;
	border-color: rgb(0,0,0);
	border-width: 3px;
	border-style: solid;
	height: 105px;
	width: 460px;
	margin-left: 425px;
    padding: 1px;
	background: #fcecfc; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%); 
	background: -webkit-linear-gradient(-45deg, #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); 
	background: linear-gradient(135deg, #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=1 ); 
}

#text1
{
	padding: 1px;
	margin-left: 70px;
	height: 34px;
	width: 800px;
	margin-left: 250px;
	border-style: solid;
	border-color: rgb(0,0,0);
}

@font-face {
    font-family: Starjedi;
    src: url("Fuentes/Manga.otf") format("opentype");
}

